doctype html
html
  head
    title= article.title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content 
    p #{article.title}
    p #{article.description} 
    p #{article.category}
    #{article.content}
